.App {
  box-sizing: border-box;
  text-align: center;
  color: black;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1 {
  margin: 0;
  padding-bottom: 20px;
}

header {
  color: white;
  background-image: url("assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0;
}
